extends ../layout

block content
  .container
    .row
      table.table.table-hover.table-bordered
        thead
          tr
            th 电影名字
            th 导演
            th 国家
            th 上映年份
            th 录入时间
            th pv
            th 查看
            th 更新
            th 删除

        tbody
          each item in movies
            tr(class="item-id-#{item._id}")
              td #{item.title}
              td #{item.doctor}
              td #{item.country}
              td #{item.year}
              td #{moment(item.meta.updateAt).format('MM/DD/YYYY')}
              td #{item.pv}
              td: a(target="_blank",href="/movie/#{item._id}") 查看
              //- 这里点击修改,通过路由触发'Movie.update'函数,该函数会从数据库中根据路由给定的id查到数据库中的数据,然后渲染'admin.jade'页面给用户
              td: a(target="_blank",href="/admin/movie/update/#{item._id}") 修改
              td: button.btn.btn-danger.del(type="button",data-id="#{item._id}") 删除
  script(src="/js/admin.js")